@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Roboto', sans-serif;
}

.addSpot{
  margin: 5px;
  border-radius: 1rem;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  font-size: large;
  padding: 5px;
  opacity: 0;
  animation: ani 1.5s forwards;
}

.addSpot:hover{
  border: 1px solid;
  line-height: 28px;
  padding: 4px;
}

.addState{
  margin: 5px;
  margin-left: 30px;
  border-radius: 1rem;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  font-size: large;
  padding: 5px;
  opacity: 0;
  animation: ani 1.5s forwards;
}

.addState:hover{
  border: 1px solid;
  line-height: 28px;
  padding: 4px;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.a{
  margin: auto;
  border-radius: 1rem;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  width: 25%;
  height: 40px;
  font-size: large;
  border: 1px solid hidden;
}

.a:hover{
  border: 1px solid;
  line-height: 38px;
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  min-width: 602px;
  min-height: 629px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 1rem;
  background-color: white;
  width: 70vw;
  height: 80vh;
  min-width: 70vw;
  min-height: 80vh;
}

.a:hover {
  border: 1px solid;
  line-height: 38px;
}

.dropzone {
  @apply flex items-start h-28 overflow-hidden rounded-lg p-0.5 text-center;
}

.dropzone2 {
  @apply flex items-start h-40 overflow-hidden rounded-lg p-0.5 text-center;
}

.drag_drop_wrapper {
  @apply flex h-24 p-1 aspect-square flex-col items-center justify-center border-2 border-dashed rounded-lg  border-gray-300 text-center;
}

.drag_drop_wrapper2 {
  @apply flex h-36 p-1 cursor-pointer aspect-square flex-col items-center justify-center border-2 border-dashed rounded-lg hover:border-solid  border-gray-300 text-center;
}

.preview_wrapper {
  @apply items-center overflow-hidden rounded-lg p-3;
}

.preview_img_box {
  @apply relative mx-auto h-28 w-28 rounded-lg;
}

.preview_link_container {
  @apply mt-4 flex h-12 w-full items-center justify-between rounded-lg border p-1;
}

.progress_wrapper {
  @apply w-20 rounded p-3;
}